<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burdur Kira</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #F2FCFC;">
        <div class="sticky-top">
            <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid d-flex justify-content-center">
                
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="navbar-brand" href="#"><img src="../static/assets/img/logo/logo.jpg" class="logo-img" style="width: 50px; height: auto;"></a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tarih">Tarihçe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gezi">Gezilecek Yerler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#yemek">Meşhur Yemekler</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#kira">Ortalama Kiralar</a>
                    </li>
                </ul>
              </div>
            </nav>
        </div>
        <div class="container">
            <div class="text-section">
                <h1 id="tarih">Tarihçe</h1>
                <p>
                    Burdur, Akdeniz Bölgesi’nde yer alan ve binlerce yıllık tarihi, doğal güzellikleri ve kültürel zenginliğiyle Anadolu’nun şirin bir şehridir. 
                    Burdur’un tarihi, Paleolitik Çağ’a kadar uzanmaktadır. Hacılar ve Kuruçay kazıları, insanlığın medeniyete uzanan yolculuğuna tanıklık eden önemli arkeolojik merkezlerdir. 
                    Burdur, antik dönemde Pisidia olarak adlandırılan bölgede yer almaktadır.
                    Burdur, Türklerin Anadolu’ya gelişiyle birlikte Selçuklu egemenliğine girmiştir. 
                    Burdur’u kuran Türkmen boylarından Kınalı aşireti, bölgenin güzelliği karşısında “Cennet buradadır. 
                    Burda dur!” demişler ve bu söz zamanla “Burdur” haline dönüşmüştür.
                </p>
            </div>
            <div class="image-section">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../static/assets/img/tarih/burdur.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/img/tarih/burdur-burdur-yenigun-gazetesi.webp" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="image-section">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../static/assets/img/gezi/salda.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2>Salda Gölü</h2>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../static/assets/img/gezi/müze.JPG" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 style="color: black;">Burdur Arkeoloji Müzesi</h2>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/img/gezi/kibyra.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 style="color: white;">Kibyra Tiyatrosu</h2>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/img/gezi/sagallasos.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 style="color: white;">Sagalassos</h2>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/img/gezi/insuyu.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 style="color: white;">İnsuyu Mağarası</h2>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="text-section">
                <h1 id="gezi">Gezilecek Yerler</h1>
                <p>Burdur’da gezilecek yerlerin tam bir listesini bulacaksınız. Bu listedeki her yeri görmek bir tam hafta sonunuzu alır.</p>
            </div>
        </div>
        <div class="container">
            <div class="text-section">
                <h1 id="yemek">Meşhur Yemekler</h1>
                <p>Birbirinden farklı kültürlere ev sahipliği yapan Burdur'da farklı çeşitlerde yemekler bulunmaktadır. Burdur'un her ilçesinde yapılışı ve sunumu değişen bu yemekler Akdeniz Mutfağı unsurlarını barındırmaktadır. Burdur'a geldiğinizde mutlaka denemeniz gereken tatlardandır. Burdur Mutfağı, Akdeniz mutfağından olduğu kadar Ege mutfağından da esintiler barındırmaktadır.</p>
            </div>
            <div class="image-section">
                <div id="carouselExample1" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExample1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../static/assets/img/yemek/sis.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 style="color: white;">Burdur Şiş</h2>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../static/assets/img/yemek/cekme.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 style="color: white;">Burdur Çekme</h2>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/img/yemek/muhallebi.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2>Burdur Muhallebisi</h2>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/img/yemek/ceviz.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h2 style="color: white;">Ceviz Ezmesi</h2>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
        <div class="container">
          <h1 class="my-4" id="kira">Kira Ortalamaları</h1>
          <div class="row">
            {% for konum, fiyat in veriler.items() %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ konum }}</h4>
                        <h5 class="card-text">{{ fiyat }} TL</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            <button id="update-button" class="btn btn-outline-primary">Verileri Güncelle</button>
            <div id="alert-container"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('update-button').addEventListener('click', function() {
            var alertContainer = document.getElementById('alert-container');
            var alertDiv = document.createElement('div');
            alertDiv.className = 'alert alert-info';
            alertDiv.role = 'alert';
            alertDiv.innerText = 'Veriler güncelleniyor...';
            alertContainer.appendChild(alertDiv);

            fetch('/ilanlar')
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('Veriler güncellenirken bir hata oluştu.');
                    }
                })
                .finally(() => {
                    alertContainer.removeChild(alertDiv);
                });
        });
    </script>
</body>
</html>
